*{ color: black; !important   } 
p {color: black ;border: 2px solid black;}

p {color : brown }




span{color: rgb(107, 20, 220); font-size: 30px;
 }

.rojo { color: rgb(8, 1, 1); font-size: 20px   
    ;text-align: center; font-weight: bold; }
#violeta {color: violet; font-size: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: brown; }
h1 {font-size: 60px; text-align: center; text-decoration: underline ;}

img {width: 1350px
 }
    a:hover {
        color: red 80px
     ; font-weight: bolder;
    }
.chico {color: black ; font-family: Arial, Helvetica, sans-serif ;}